<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<meta http-equiv="Page-Enter" content="revealTrans(Duration=5.0,Transition=12)">
	</head>
	<style>
			body{
				font-family:微軟正黑體;
			}
		</style>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>Produce</strong> by 9A</a>
					<nav id="nav">
						 <a href="/">Home</a>
						<a href="/search">AnaLyze</a>
						<a href="/article">Article</a>
						<a href="/tutorial">Guide</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<br class="inner">
					<header class="align-center">
						<p id="test"></p>
						<h2>GearLyze</h2>
						<p>智能品牌分析網</p>
					</header>
<!--					<form>-->
				<hr>
				<br><br>
				<div align="center" >
					<p>GearLyze是一套「透過分析網路評論與文本，經由自然語言處理、機器學習，<br>將大眾意見匯聚成簡單容易就能理解的視覺結果」的系統。</p>
				</div>
				<br><br>
				<div align="center" >
					<h2><b><u>為什麼GearLyze要做這些？</u></b></h2>
					<br>
					<div>
						<span class="fas fa-chart-line" style="font-size:80px;color: #6cc091;"></span>
					</div>
					<br><br>
					<p>GearLyze起源於對於全球運動鞋市場激烈競爭的觀察，<br>品牌如何針對<b>自身定位</b>並發掘優勢一事至關重要。</p>
					<br><br>
					<div>
						<span class="fas fa-user-check" style="font-size:70px;color: #6cc091;"></span>
						<span style="font-size:50px;color: #6cc091;">　／　</span>
						<span class="fas fa-user-edit" style="font-size:70px;color: #6cc091;"></span>
					</div>
					<br><br>
					<p>而近年，網路論壇聲量隨著網路普及形成具<b>極大參考價值之網路輿情</b>，<br>我們希望改善以專家意見為主之品牌分析方法，以大眾意見為重，打造一個智能分析網站。<br>透過獲得巨量的網路輿情與消費者意見，並利用機器學習與文字情感分析等技術，分析出各品牌之市場定位。</p>
				</div>
				<br><br>
				<div align="center" >
					<h2><b><u>什麼是情感分析？</u></b></h2>
					<br>
					<div>
						<span class="far fa-comment fa-flip-horizontal" style="font-size:50px;color: #6cc091;"></span>
						<span style="font-size:20px;">　</span>
						<span class="icon fa-file-alt" style="font-size:80px;color: #6cc091;vertical-align: middle"></span>
						<span style="font-size:20px;">　</span>
						<span class="far fa-comment" style="font-size:50px;color: #6cc091;vertical-align:top"></span>
					</div>
					<br><br>
					<p>一篇文章是由許多詞彙所組成，每個詞彙都有著不同的意義。<br>有些詞彙具有好壞、正負指向，能表達出撰寫者的<b>心情與感想</b>，<br>我們稱之為「文章的情緒」。</p>
					<p>透過分析詞彙、收集並統計大量文章的情緒，<br>量化大眾與網路對於特定議題的評價好壞與取向，即為「情感分析」。</p>
				</div>

				<br><hr><br><br>

				<div align="center" >
					<p>GearLyze系統透過以下幾個步驟實現：<br>文章收集、文章處理、主題辨別、情緒計算、視覺化</p>
				</div>

				<br><br>

				<div align="center" >
					<h2><b><u>文章收集</u></b></h2>
					<br>
					<div>
						<span class="far fa-file-word" style="font-size:80px;color: #6cc091;"></span>
					</div>、
					<br><br>
					<p>GearLyze的文庫收集了網路上許多與球鞋與運動品牌相關的文章，<br>文章數共49,634篇，字詞數共計18,934,283。<br>文章來源：Juksy街星、CooL-Style潮流生活網、NOWRE現客、ELLE、<br>勘履者、Bella、運動視界、DEADSTOCK、動網、PTT實業坊</p>
				</div>
				<br><br>
				<div align="center" >
					<h2><b><u>文章處理</u></b></h2>
					<br>
					<div>
						<span class="fas fa-comment-medical" style="font-size:80px;color: #6cc091;"></span>
						<span style="font-size:20px;">　　</span>
						<span class="fas fa-heartbeat" style="font-size:80px;color: #6cc091;vertical-align:top"></span>
					</div>
					<br><br>
					<p>為了能取得文章的情緒，需先對文章進行<b>斷詞、詞性判定、詞性過濾</b>等自然語言處理。<br>GearLyze採用人工處理完善斷詞詞庫，建立運動品牌分析專用詞庫。<br>同時，針對具有情緒取向的詞彙定義正負向，建立情緒詞庫。</p>
				</div>
				<br><br>
				<div align="center" >
					<h2><b><u>主題辨別</u></b></h2>
					<br>
					<div>
						<span class="fas fa-icons" style="font-size:80px;color: #6cc091;"></span>
					</div>
					<br><br>
					<p>大量並來源不一的文章內容五花八門，因此需要進行主題與類別的辨別。<br>GearLyze透過非監督式機器學習演算法：隱含狄利克雷分布(LDA)進行文章分類，<br>根據文章詞彙組成歸納出<b>鞋履外型與質感、網路行銷與社群、銷售與買賣、製鞋技術與科技、風格設計與特色</b>五種面向。</p>
				</div>
				<br><br>
				<div align="center" >
					<h2><b><u>情緒計算</u></b></h2>
					<br>
					<div>
						<span class="fas fa-file-medical-alt" style="font-size:80px;color: #6cc091;"></span>
					</div>
					<br><br>
					<p>透過計算文章中所包含的正負向詞數量能計算文章的情緒分數與傾向。<br>根據每篇文章所提到的品牌與主題，即可得出<b>該品牌於各主題之情緒正負向</b>，<br>進而實現GearLyze的核心功能－－搜尋品牌並呈現情緒分析之結果。</p>
				</div>
				<br><br>
				<div align="center" >
					<h2><b><u>視覺化</u></b></h2>
					<br>
					<div>
						<span class="far fa-eye" style="font-size:80px;color: #6cc091;"></span>
					</div>
					<br><br>
					<p>得到各品牌所屬文章之各主題情緒分數後，透過對應分析等技術將結果<b>視覺化</b>，<br>即可輕鬆檢視品牌分析結果！</p>
					<p>理解了GearLyze之後，<br>快來試看看吧！</p>
					<footer>
								<a href="/search" class="button">GearLyze！</a>
					</footer>
				</div>



			</section>

		<!-- Footer -->
			<footer id="footer">
<!--				<div class="inner">-->

<!--					<h3>Get in touch</h3>-->

<!--					<form action="#" method="post">-->

<!--						<div class="field half first">-->
<!--							<label for="name">Name</label>-->
<!--							<input name="name" id="name" type="text" placeholder="Name">-->
<!--						</div>-->
<!--						<div class="field half">-->
<!--							<label for="email">Email</label>-->
<!--							<input name="email" id="email" type="email" placeholder="Email">-->
<!--						</div>-->
<!--						<div class="field">-->
<!--							<label for="message">Message</label>-->
<!--							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>-->
<!--						</div>-->
<!--						<ul class="actions">-->
<!--							<li><input value="Send Message" class="button alt" type="submit"></li>-->
<!--						</ul>-->
<!--					</form>-->

<!--					<div class="copyright">-->
<!--						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.-->
<!--					</div>-->

<!--				</div>-->
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>
			<script src="../static/assets/js/search_ajax.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
			<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
			<script src="https://kit.fontawesome.com/0253567799.js" crossorigin="anonymous"></script>

			<script>


			</script>


	</body>
</html>