<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>品牌分析 - GearLyze</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<meta http-equiv="Page-Enter" content="revealTrans(Duration=5.0,Transition=12)">
	</head>
	<style>
			body{
				font-family:微軟正黑體;
				/*background-color: rgb(75,75,75);*/
			}
		</style>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>Produced</strong> by 9A</a>
					<nav id="nav">
						 <a href="/">Home</a>
						<a href="/search">AnaLyze</a>
						<a href="/article">Article</a>
						<a href="/tutorial">Guide</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<br class="inner">
					<header class="align-center">
						<p id="test"></p>
						<h2>品牌分析</h2>
						<p>輸入想要分析的品牌吧！</p>
					</header>
<!--					<form>-->
						<div style="text-align: center">
							<div class="field half search" style="margin: 0 1.5em 2em 0;display: inline-block;width:50%">
								<input id="search" type="text" placeholder="Search">
							</div>
							<ul>
								<button id="search_ajax"class="button alt" type="submit">Start!</button>
							</ul>
						</div>
<!--					</form>-->

				<div id="all_canvas" align="center"><br id="loading_br"  style="display: none">
					<div id="loading" class="lds-roller" style="display: none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
					<div id="noData"></div>
					<br>
					<div id="brand_name" align="left"></div>
					<div id="chartControl" >
						<div id="chart">

	<!--						<div id="radar">-->
	<!--						</div>-->
	<!--						<div id="line">-->
	<!--						</div>-->
	<!--						<div id="CA">-->
	<!--						</div>-->
	<!--						<div id="cloud">-->
	<!--						</div>-->
						</div>
						<div id="line_choose" align="center"></div>
					</div>

				</div>
				<br>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>
			<script src="../static/assets/js/search_ajax.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
			<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

			<script>


			</script>


	</body>
</html>