<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<meta http-equiv="Page-Enter" content="revealTrans(Duration=5.0,Transition=12)">
	</head>
	<style>
			body{
				font-family:微軟正黑體;
			}
		</style>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>Produce</strong> by 9A</a>
					<nav id="nav">
						 <a href="/">Home</a>
						<a href="/search">AnaLyze</a>
						<a href="/article">Article</a>
						<a href="/tutorial">Guide</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<br class="inner">
					<header class="align-center">
						<p id="test"></p>
						<h2>GearLyze</h2>
						<p>智能品牌分析網</p>
					</header>
<!--					<form>-->
				<hr>
				<br>
				<div align="center" >
					<h2><b><u>GearLyze到底是什麼？</u></b></h2>
					<p>GearLyze是一套「透過探勘網路評論與文本，<br>經由自然語言處理、情緒分析、機器學習，<br>將大眾意見匯聚成簡單易懂的視覺結果」的系統。</p>
				</div>
				<br><br><br>
				<div style="text-align: center">
					<div class="image round" align="center" style="width:100vw;display: inline-block">
						<div style="width:20vw;display: inline-block">
							<img src="../static/images/radar.jpg" alt="Pic 01" width="150vw"/>
							<br>
							<p style="font-size: 20px">情緒雷達</p>
						</div>
						<div style="width:20vw;display: inline-block">
							<img src="../static/images/line.jpg" alt="Pic 01" width="150vw"/>
							<br>
							<p style="font-size: 20px">歷史波動</p>
						</div>
						<div style="width:20vw;display: inline-block">
							<img src="../static/images/CA.jpg" alt="Pic 01" width="150vw"/>
							<br>
							<p style="font-size: 20px">品牌地圖</p>
						</div>
						<div style="width:20vw;display: inline-block">
							<img src="../static/images/cloud.jpg" alt="Pic 01" width="150vw"/>
							<br>
							<p style="font-size: 20px">熱門關鍵字</p>
						</div>
					</div>
				</div>
<!--					</form>-->
				<br><br><br>


				<div align="center">
					<h2><b><u>我該怎麼使用GearLyze？</u></b></h2>

				</div>
				<br>
				<div class="inner" data-aos="fade-down" >
					<div class="flex flex-2" align="center" style="vertical-align: center">
						<article style="width:100%">
							<div class="image round" align="left" style="width:20vw;display: inline-block">
								<img src="../static/images/search.jpg" alt="Pic 01" width="150vw"/>
							</div>
							<div align="left" style="width:50vw;display: inline-block;">
							<header>
								<h3 style="margin-top:1em">分析系統</h3>
							</header>
							<p>在GearLyze的<a href="/search">搜尋頁面</a>輸入想要分析的<b>品牌</b>後，<br>按下Start就能輕鬆得到分析結果！</p>
<!--								<footer>-->
<!--									<a href="/search" class="button">Learn More</a>-->
<!--								</footer>-->
							</div>

						</article>
				</div>
				<br><br>
				<div class="flex flex-2" align="center" style="vertical-align: center">
					<article style="width:100%">
						<div align="right" style="width:50vw;display: inline-block;">
						<header>
							<h3 style="margin-top:1em">情緒雷達</h3>
						</header>
							<p>雷達的五個維度是經由機器學習<br>歸納出大眾對於運動<b>品牌評價的五個面向</b>，<br>數值越高代表網路上對品牌的該面向評價越高。</p>
						</div>
						<div class="image round" align="right" style="width:20vw;display: inline-block">
							<img src="../static/images/radar.jpg" alt="Pic 01" width="150vw"/>
						</div>
					</article>
				</div>
				<br><br>
				<div class="inner" data-aos="fade-down" >
					<div class="flex flex-2" align="center" style="vertical-align: center">
						<article style="width:100%">
							<div class="image round" align="left" style="width:20vw;display: inline-block">
								<img src="../static/images/line.jpg" alt="Pic 01" width="150vw"/>
							</div>
							<div align="left" style="width:50vw;display: inline-block;">
							<header>
								<h3 style="margin-top:1em">歷史波動</h3>
							</header>
								<p>橫軸為<b>時間</b>、縱軸為<b>評價高低</b>（數值無意義），<br>表示從以前到現在品牌在大眾意見中的高低變化。</p>
							</div>

						</article>
					</div>
					<br><br>
					<div class="flex flex-2" align="center" style="vertical-align: center">
						<article style="width:100%">
							<div align="right" style="width:50vw;display: inline-block;">
							<header>
								<h3 style="margin-top:1em">品牌地圖</h3>
							</header>
								<p>透過對應分析，將多品牌與各面向的正負評關係以平面呈現，<br><b>越靠近的點表示關係性越高</b>。</p>
							</div>
							<div class="image round" align="right" style="width:20vw;display: inline-block">
								<img src="../static/images/CA.jpg" alt="Pic 01" width="150vw"/>
							</div>
						</article>
					</div>
					<br><br>
					<div class="inner" data-aos="fade-down" >
						<div class="flex flex-2" align="center" style="vertical-align: center">
							<article style="width:100%">
								<div class="image round" align="left" style="width:20vw;display: inline-block">
									<img src="../static/images/cloud.jpg" alt="Pic 01" width="150vw"/>
								</div>
								<div align="left" style="width:50vw;display: inline-block;">
								<header>
									<h3 style="margin-top:1em">熱門關鍵字</h3>
								</header>
									<p>提到品牌的時候大家都還提到些什麼<b>關鍵字</b>呢？<br>文字雲一次清楚明瞭的呈現！</p>
								</div>

							</article>
						</div>
				</div>
					<br>
				<hr>
					<br>
				<div class="inner" data-aos="fade-down">
					<div class="flex flex-2" align="center">
						<article style="width:100%">
							<div align="center" style="width:30vw;display: inline-block">
							<header>
								<h3 style="margin-top:1em">GearLyze是怎麼做到的？</h3>
							</header>
							<p>GearLyze究竟是如何<br>從網路文章與大眾意見中分析出這些的呢？<br>快來看看吧！</p>
							<footer>
								<a href="/explain" class="button">Learn More</a>
							</footer>
							</div>
						</article>
					</div>
				</div>


				<br>



				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
<!--				<div class="inner">-->

<!--					<h3>Get in touch</h3>-->

<!--					<form action="#" method="post">-->

<!--						<div class="field half first">-->
<!--							<label for="name">Name</label>-->
<!--							<input name="name" id="name" type="text" placeholder="Name">-->
<!--						</div>-->
<!--						<div class="field half">-->
<!--							<label for="email">Email</label>-->
<!--							<input name="email" id="email" type="email" placeholder="Email">-->
<!--						</div>-->
<!--						<div class="field">-->
<!--							<label for="message">Message</label>-->
<!--							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>-->
<!--						</div>-->
<!--						<ul class="actions">-->
<!--							<li><input value="Send Message" class="button alt" type="submit"></li>-->
<!--						</ul>-->
<!--					</form>-->

<!--					<div class="copyright">-->
<!--						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.-->
<!--					</div>-->

<!--				</div>-->
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>
			<script src="../static/assets/js/search_ajax.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
			<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

			<script>


			</script>


	</body>
</html>